.pagination {

  &__list {
    display: flex;
    justify-content: center;
    list-style: inside none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: block;
    font: 500 1rem/2.5rem $font-main;
    color: $text-default-color;

    a {
      display: block;
      font: inherit;
      color: inherit;
      text-decoration: none;

      &:focus {
        color: $text-default-color;
        text-decoration: none;
      }
      &:hover {
        color: $text-accent-color;
        text-decoration: none;
      }
    }
    span {
      display: block;
      padding: 0 .75rem;
      font: inherit;
      color: inherit;
    }

    &.active {
      color: $text-main-color;
    }
    &_prev,
    &_next {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      background: transparent;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      transition: $transition-default;

      a {
        border-radius: 50%;
      }

      span {

        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          transform: translate(-50%, -50%);
          transition: $transition-default;
        }
      }

      &:hover {

        a {
          background-color: $bg-accent-color;
        }
      }
    }
    &_prev {
      margin-right: 1.5rem;

      span {

        &:after {
          margin-left: -.25rem;
          border: .313rem solid transparent;
          border-right: .5rem solid $bg-default-color;
        }
      }

      &:hover {

        a {

          span {

            &:after {
              border-right-color: $white;
            }
          }
        }
      }
    }
    &_next {
      margin-left: 1.5rem;

      span {

        &:after {
          margin-left: .25rem;
          border: .313rem solid transparent;
          border-left: .5rem solid $bg-default-color;
        }
      }

      &:hover {

        a {

          span {

            &:after {
              border-left-color: $white;
            }
          }
        }
      }
    }
  }
}