extends layouts/site

block vars
    - var title = 'Доставка и оплата - '+ companyname
    - var description = 'Доставка и оплата'

block breadcrumbs
    +breadcrumbs('Главная','Доставка и оплата')

block content
    .container
        h1 Доставка и оплата
        h2 Способы оплаты
        p К оплате принимаем только банковские карты
        img(src='/img/content/info/payment-method.png', alt='Способы оплаты')
        p После оформления, оплатите заказ в течении 10 минут, иначе он будет отменён.
        h3 Оплата заказа осуществляется в два этапа:
        ol
            li Оплачиваете полную стоимость заказа и средства замораживаются в хранилище банка эквайринга.
            li Наши сотрудники бережно собирают заказ, если в заказе присутствуют весовые товары, то стоимость заказа будет отличаться от первоначальной, разница буфдет возвращена на карту после получения заказа, а на электронную почту придёт письмо с электронным чеком.
        p Выбранную продукцию доставим в срок, не нарушая температурного режима хранения.
        h3 Заказы доставляются в выбранный интервал времени:
        ul
            li с 8:00 до 12:00
            li с 12:00 до 16:00
            li с 16:00 до 20:00
        h2 Способы доставки
        h3 Курьером
        p За час до выезда, курьер позвонит для подтверждения адреса и времени доставки, пожалуйста, ответьте на звонок. По факту получения заказа, просим подписать акт передачи заказа.
        h3 В продуктомат
        p После того, как заказ будет доставлен в выбранный продуктомат, система отправит СМС-уведомление с кодом для получения заказа.