extends layouts/site

block vars
    - var title = 'Ui Kit'
    - var description = 'Ui Kit'

block breadcrumbs
    +breadcrumbs('Главная','Ui Kit')

block content
    section
        .container
            h1 Активные элементы
            form(action='/test')
                .row
                    .col-lg-3.col-sm-6
                        +buttonMain('button', 'button', 'Сохранить')
                    .col-lg-3.col-sm-6
                        +buttonMain('input', 'submit', 'Отправить')
                    .col-lg-3.col-sm-6
                        +buttonMain('link', '#', 'Перейти')
            br
            form(action='/test')
                .row
                    .col-lg-3.col-sm-6
                        +buttonMain('button', 'button', 'Сохранить', 'disabled')
                    .col-lg-3.col-sm-6
                        +buttonMain('input', 'submit', 'Отправить', 'disabled')
                    .col-lg-3.col-sm-6
                        +buttonMain('link', '#', 'Перейти', 'disabled')
            br
            +pagination()
            br
            .row
                .col-lg-3.col-sm-6
                    +selectMain('delivery-time', 'Время доставки', '8:00 — 12:00', '12:00 — 16:00', '16:00 — 20:00')
                .col-lg-3.col-sm-6
                    +selectMain('month', '', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
                .col-lg-3.col-sm-6
                    +inputMain('tel', 'phone', 'Введите Ваш телефонный номер', 'required')
                .col-lg-3.col-sm-6
                    +inputMain('email', 'email', 'Введите Ваш E-mail', 'required')
            br
            .row
                .col-lg-6
                    +textareaMain('message', 'Комментарий')
                .col-lg-3.col-sm-6
                    +checkboxMain('weight[]', '0.5', '0.5 кг')
                    +checkboxMain('weight[]', '0.4', '0.4 кг')
                    +checkboxMain('weight[]', '0.3', '0.3 кг')
                    +checkboxMain('weight[]', '0.3', '0.3 кг', 'disabled')
                .col-lg-3.col-sm-6
                    +radioMain('way', '1', 'Да')
                    +radioMain('way', '2', 'Нет')
                    +radioMain('way', '3', 'Наверное')
                    +radioMain('way', '3', 'Наверное', 'disabled')
    section
        .container
            h1 Полиграфия
            h1 Заголовок h1
            h2 Заголовок h2
            h3 Заголовок h3
            h4 Заголовок h4
            h5 Заголовок h5
            h6 Заголовок h6
            p Задача организации, в особенности же <strong>укрепление</strong> и <strong>развитие</strong> структуры позволяет выполнять важные задания по разработке направлений <a href="#">прогрессивного развития</a>. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке систем массового участия. Таким образом рамки и место обучения кадров позволяет оценить значение модели развития. Значимость этих проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
            p Таким образом консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
            img(src='https://via.placeholder.com/1920x1080.png?text=1920x1080', alt='1920x1080')
            ol
                li Элемент нумерованного списка 1
                li Элемент нумерованного списка 2
                li Элемент нумерованного списка 3
                li Элемент нумерованного списка 4
                li Элемент нумерованного списка 5
            ul
                li Элемент ненумерованного списка 1
                li Элемент ненумерованного списка 2
                li Элемент ненумерованного списка 3
                li Элемент ненумерованного списка 4
                li Элемент ненумерованного списка 5
            table
                thead
                    tr
                        th Жирный заголовок шапки
                        th Жирный заголовок шапки
                        th Жирный заголовок шапки
                        th Жирный заголовок шапки
                tbody
                    tr
                        td Ячейка таблицы 1
                        td Ячейка таблицы 2
                        td Ячейка таблицы 3
                        td Ячейка таблицы 4
                    tr
                        td Ячейка таблицы 5
                        td Ячейка таблицы 6
                        td Ячейка таблицы 7
                        td Ячейка таблицы 8
                    tr
                        td Ячейка таблицы 9
                        td Ячейка таблицы 10
                        td Ячейка таблицы 11
                        td Ячейка таблицы 12
                    tr
                        td Ячейка таблицы 13
                        td Ячейка таблицы 14
                        td Ячейка таблицы 15
                        td Ячейка таблицы 16