.button-main {
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 290px;
  padding: 1rem 2rem;
  background: $bg-accent-color;
  border: 2px solid $border-accent-color;
  border-radius: 1.563rem;
  font: 700 .875rem/1 $font-main;
  color: $text-light-color;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: $transition-default;

  &:focus {
    background: $bg-accent-color;
    color: $text-light-color;
    text-decoration: none;
  }
  &:hover {
    background: $bg-main-color;
    color: $text-default-color;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: $bg-default-color;
    border-color: $border-main-color;
    color: $text-default-color;

    &:focus {
      background: $bg-default-color;
      border-color: $border-main-color;
      color: $text-default-color;
    }
    &:hover {
      background: $bg-default-color;
      border-color: $border-main-color;
      color: $text-default-color;
    }
  }
}

a.button-main:not([href]) {
  cursor: not-allowed;
  background: $bg-default-color;
  border-color: $border-main-color;
  color: $text-default-color;

  &:focus {
    background: $bg-default-color;
    border-color: $border-main-color;
    color: $text-default-color;
  }
  &:hover {
    background: $bg-default-color;
    border-color: $border-main-color;
    color: $text-default-color;
  }
}