@media screen and (min-width: 1200px) {

}
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 991px) and (min-width: 768px) {

}
@media screen and (max-width: 991px) and (min-width: 576px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 767px) and (min-width: 576px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  html {
    font-size: 12px;
  }
}